<div>
  <h2> &nbsp;&nbsp;&nbsp;내 주문목록 </h2>
</div>
<div>
  <mat-card *ngFor="let txItem of (txItems$ | async)"
            class="my-order-card">
    <mat-card-header>
      <div>
        <img width="50" height="50" src={{txItem.purchasable.thumbnail}}/>
      </div>
      <mat-card-title>{{txItem.purchasableName}}</mat-card-title>
      <mat-card-subtitle>x {{txItem.qty}}개</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span *ngIf="txItem.options.length > 0">
          <b>옵션:</b><br/>
          <ul *ngFor="let option of txItem.options"
              class="option-list">
            <li>
              &nbsp;&nbsp;&nbsp;&nbsp;{{option.optionName}} x {{option.qty}}
            </li>
          </ul>
        </span>
      <b>총 가격:</b> {{txItem.totalPrice}} <br/>
      <b>주문상태:</b> {{txItem.state}} <br/>
      <b>결제일시:</b> {{txItem.createdAt}} <br/>
    </mat-card-content>
  </mat-card>
</div>


