<h2> 내 주문목록 </h2>
<ul *ngFor="let txItem of (txItems$ | async)">
  <li>
    <img width="100" height="100" src={{txItem.purchasable.thumbnail}}/> <br/>
    제품명: {{txItem.purchasableName}} <br/>
    수량: {{txItem.qty}} <br/>
    옵션: <br/>
    <ul *ngFor="let option of txItem.options">
      <li>
        옵션명: {{option.optionName}} <br/>
        수량: {{option.qty}}
      </li>
    </ul>
    총 가격: {{txItem.totalPrice}} <br/>
    상태: {{txItem.state}} <br/>
    결제일시: {{txItem.createdAt}} <br/>
  </li>
</ul>
