.main {
  margin-top: 64px;
  margin-bottom: 50px;
}
.header {
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
}
.footer {
  margin: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
}
.timeout-warning {
  color: #7f7f7f;
}

