.main {
  margin-top: 56px;
  margin-bottom: 50px;
}
.header {
  margin: 0;
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
}
.footer {
  margin: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
}

