[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gtts = "*"
"django-sortedm2m" = "*"
pillow = "*"
django-map-widgets = "*"
requests = ">=2.20.0"

[dev-packages]
pytest = "*"
pytest-django = "*"
ipython = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
