.mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.done-ticket-container{
  overflow-x: scroll;
  display: flex;
  margin-left: 10px;
}
.done-ticket-card {
  min-width: 200px;
  height: 170px;
  margin-right: 8px;
  overflow-y: scroll;
}
.todo-doing-ticket-container {
  overflow-x: scroll;
  display: flex;
  margin-left: 10px;
}
.todo-doing-ticket-card {
  min-width: 200px;
  height: 350px;
  margin-right: 8px;
  overflow-y: scroll;
  text-align: left;
}
ul {
  list-style-type: none;
}
.purchasable-name {
  font-size: large;
}
.option-name {
  font-size: medium;
}
