<h2>&nbsp;&nbsp;Done Tickets</h2>
<div class="done-ticket-container"
     cdkDropList
     #doneList = "cdkDropList"
     [cdkDropListConnectedTo]="[todoList]"
     (cdkDropListDropped)="handleDragDrop($event)">
  <mat-card *ngFor="let ticket of doneTickets$ | async"  cdkDrag [cdkDragData]="ticket"
            class='done-ticket-card'
            (click)="handleDoneClick(ticket)">
    <mat-card-header>
      <mat-card-title>{{ ticket.number }}</mat-card-title>
      <div>
        <button mat-icon-button (click)="handleDoneClick(ticket)">
          <mat-icon>record_voice_over</mat-icon>
        </button>
        <button mat-icon-button (click)="handleDelete(ticket)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li *ngFor="let purchasable of ticket.purchasables">
          <div class="purchasable-name">
            {{ purchasable.name }}({{ purchasable.qty }})
          </div>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>

<h2>&nbsp;&nbsp;Todo/Doing Tickets</h2>
<div class="todo-doing-ticket-container"
     cdkDropList
     #todoList="cdkDropList"
     [cdkDropListConnectedTo]="[doneList]"
     (cdkDropListDropped)="handleDragDrop($event)">

  <mat-card *ngFor="let ticket of notDoneTickets$ | async" cdkDrag [cdkDragData]="ticket"
            class="todo-doing-ticket-card"
            (click)="handleNotDoneClick(ticket)"
            [style.background]='ticket.state === "doing"? "lightblue": ""'>
  <mat-card-header>
    <mat-card-title>{{ ticket.number }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li class="purchasable-list"
                     *ngFor="let purchasable of ticket.purchasables">
        <div class="purchasable-name">
          {{ purchasable.name }}({{ purchasable.qty }})
          <div *ngFor="let option of purchasable.options"
               class="option-name">
            - {{ option.name }}({{ option.qty }})
          </div>
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
</div>
