manage-order works!
<div>
  <h1>Done Tickets</h1>
  <ul class='done-ticket'>
    <li *ngFor="let ticket of doneTickets$ | async" (click)="handleDoneClick(ticket)">
      {{ ticket.number }}
      <ul>
        <li *ngFor="let purchasable of ticket.purchasables">
          {{ purchasable.name }}({{ purchasable.qty }})
          <ul>
            <li *ngFor="let option of purchasable.options">{{ option.name }}({{ option.qty }})</li>
          </ul>
        </li>
      </ul>
      <button (click)="handleDoneClick(ticket)">Refresh</button>
      <button (click)="handleMoveToDoing(ticket)">is Doing</button>
      <button (click)="handleDelete(ticket)">Delete</button>
    </li>
  </ul>
</div>

<div>
  <h1>Todo/Doing Tickets</h1>
  <ul class='todo-doing-ticket'>
    <li *ngFor="let ticket of notDoneTickets$ | async" [style.background]='ticket.state === "doing"? "lightblue": ""'>
      {{ ticket.number }}
      <ul>
        <li *ngFor="let purchasable of ticket.purchasables">
          {{ purchasable.name }}({{ purchasable.qty }})
          <ul>
            <li *ngFor="let option of purchasable.options">{{ option.name }}({{ option.qty }})</li>
          </ul>
        </li>
      </ul>
      <button (click)="handleNotDoneClick(ticket)">Toggle</button>
      <button (click)="handleMoveToDone(ticket)">Done</button>
    </li>
  </ul>
</div>

