<agm-map *ngIf="initialLatLng" [zoom]='14' [style.height]='height + "px"' [latitude]='initialLatLng.lat' [longitude]='initialLatLng.lng' (centerChange)="handleCenterChange($event)" (boundsChange)="handleBoundsChange($event)">
  <agm-marker *ngFor="let marker of markers$ | async" [latitude]="marker.lat" [longitude]="marker.lng">
    <agm-info-window>
      <div routerLink="/order">
        <strong>{{ marker.name }}</strong>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>

<div *ngIf="!initialLatLng" class='spinner' [style.height]='height + "px"'>
  <mat-progress-spinner mode='indeterminate'></mat-progress-spinner>
</div>
