.mat-toolbar-row {
  height: 56px;
  margin: 0;
}
.message {
  display: flex;
  margin-top: 13px;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 10px;
}
.store-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 11px;

}
.store-name {
  color: #6d4c41;

}
