<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sideNavClosed.emit(true)">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<!--for unsigned user-->
<div *ngIf="!isLoggedIn(); else userLoggedIn">
  <span class="message">
    <mat-icon>person_outline</mat-icon>
    Welcome, Stranger!</span>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a mat-list-item (click)="navigator('/sign-in')">Sign In</a>
    <a mat-list-item (click)="navigator('/sign-up')">Sign Up</a>
  </mat-nav-list>
</div>
<!--for Signed in user-->
<ng-template #userLoggedIn>
  <span class="message">
    <mat-icon>person</mat-icon>
    Hello, {{user.username}}!
  </span>
  <mat-divider></mat-divider>
  <!--store information (if user has currentStore)-->
  <div *ngIf="currentStore$ | async as currentStore">
    <div *ngIf="currentStore"
         class="store-info">
      <div>&nbsp;Now in:</div>
      <div class="store-name"
           (click)="navigator('/order')">
        <b>{{currentStore.name}}</b>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>

  <mat-nav-list>
    <a mat-list-item (click)="signOut()">Sign Out</a>
    <a mat-list-item (click)="navigator('/store')">Store Select</a>
    <a mat-list-item (click)="navigator('/my-order')">My Orders</a>
  </mat-nav-list>
</ng-template>

