.purchasable {
  display: flex;
  flex-direction: row;
}
.mycart-list .mat-list-item {
  height: auto;
  margin-top: 10px;
}
#totalPrice {
  text-align: right;
  margin-right: 100px; /*does it works well?*/
}
.option-panel-title {
  justify-content: space-between;
}
.button-group {
  text-align: center;
  margin: 20px;
  margin-top: 40px;
  margin-botton: 30px;
}
.navigate-button {
  margin-left: 10px;
  margin-right: 10px;
}
.quantity-control-buttons {
  flex: auto;
  min-width: 110px;
}
.quantity-button {
  min-width: 10px;
}
.purchasable-detail{
  font-size: medium;
}
