.mycart-list {
  margin-left: 5px;
  margin-right: 13px;
  padding-top: 0;
}
.mycart-list .mat-list-item {
  height: auto;
  margin-top: 10px;
}
.purchasable-detail-wrapper {
  display: table;
}
.purchasable-detail {
  display: table-cell;
  vertical-align: middle;
  font-size: medium;
}
.button-group {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-evenly;
}
.mat-stroked-button {
  padding-left: 8px;
  padding-right: 8px;
}
.option-dialog-button {
  position: absolute;
  min-width: 30px;
  right: 45%;
}
.quantity-control-buttons {
  flex: auto;
  min-width: 110px;
  position: absolute;
  right: 20%;
}
.quantity-button {
  min-width: 10px;
}
.purchasable-total-price {
  position: absolute;
  right: 8%;
}
.remove-button {
  position: absolute;
  top: 0;
  right: 0;
}
.remove-x {
  position: absolute;
  top: 0;
  right: 0;
}
#totalPrice {
  text-align: right;
  margin-top: 30px;
  margin-right: 20px;
}

