<ngb-tabset #t="ngbTabset" [destroyOnHide]="true">
  <ngb-tab id="main-tab">
    <ng-template ngbTabContent>
      <ul>
        <li *ngFor="let purchasable of myCart; let idx = index">
          <img src="{{purchasable.thumbnail}}"
               width="50" height="50">
          {{purchasable.name}}
          <button (click)="decrement(idx)">-</button>
          {{purchasable.quantity}}개
          <button (click)="increment(idx)">+</button>

          <ul *ngIf="hasOptions(purchasable)">
            <li *ngFor="let option of purchasable.options">
              <p *ngIf="option.quantity != 0">{{option.name}} x{{option.quantity}}</p>
              <button (click)="selectIndex(idx)"
                      (click)="t.select('select-order-tab')">옵션 설정</button>
            </li>
          </ul>
          <br>{{purchasable.total_price}}원
          <button (click)="removePurchasable(idx)">X</button>
        </li>
      </ul>
      <div>
        <hr class = "one">
        total {{totalPrice}}원
        <button routerLink="/payment">결제하기</button>
        <button (click)="emptyCart()">장바구니 비우기</button>
        <button (click)="back()">취소</button>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab id="select-order-tab">
    <ng-template ngbTabContent>
    <app-select-option [options]="myCart[selectedIndex].options"
                       (optionChanged)="updateOptionChange($event)"></app-select-option>
    <button (click)="t.select('main-tab')"
            (click)="updateTotalPrice()">확인</button>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

