<mat-tab-group (selectedTabChange)="categorySelected($event)"
               [@.disabled]="true"> <!--disable tab slide animation-->
  <mat-tab *ngFor="let category of categories$ | async"
            label = "{{category.name}}"
            class = "category-tab">

    <mat-list class="menus" *ngIf="selectedCategory">
      <mat-list-item *ngFor="let menu of selectedCategory.purchasables"
                     routerLink="/order/{{menu.id}}">
        <span>
          <img class="thumbnail"
               src="{{menu.thumbnail}}">
        </span>
        <span>
          <div>
            <span class="menuName">
              {{menu.name}}
            </span>
            <span *ngFor="let badge of menu.badges">
              <img class="badge-icon" src="{{badge.icon}}"/>
              <span class="badge-name">{{badge.name}}</span>
            </span>
          </div>
          {{mathFloor(menu.base_price)}}
        </span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>

