<div>
  <ul>
    <li *ngFor="let category of categories$ | async">
      <button (click)="selectCategory(category)">
        {{category.name}}
      </button>
    </li>
  </ul>
</div>
<hr class = "one">
<div *ngIf="selectedCategory">
  <ul>
    <li *ngFor="let menu of selectedCategory.purchasables">
      <div>
        <img src="{{menu.thumbnail}}"
             routerLink="/order/{{menu.id}}">
        <br>{{menu.name}}
        <br>{{menu.base_price}}
      </div>
    </li>
  </ul>
</div>
<hr class = "one">
<button routerLink="/mycart">My Cart [{{myCartCount}}]</button>
<button (click)="emptyCart()">Empty Cart</button>
