.menus {
  padding-top: 0px;
}
.menus .mat-list-item {
  height: auto;
  vertical-align: middle;
  padding: 0px;
}
.thumbnail {
  width: 100px;
  height: 100px;
  padding: 5px;
  padding-right: 15px;
}
.category-tab {
  padding-top:0;
  position: fixed;
}
.menuName {
  font-weight: bold;
  font-size: 25px;
}
.badge-icon {
  width: 20px;
  height: 20px;
  padding: 3px;
}
.badge-name {
  font-size: 15px
}
