<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sideNavOpened.emit(true)">
      <mat-icon>menu</mat-icon>
    </button>
    <!--Store Title-->
    <div *ngIf="isPageStore; else normalTitle">
          <span class="title"
                routerLink="/order">
      {{pageTitle}}</span>
    </div>
    <!--Normal Title-->
    <ng-template #normalTitle>
      <span class="title">
        {{pageTitle}}
      </span>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
