<img width="200" height="200" src="http://img.seoul.co.kr/img/upload/2017/08/08/SSI_20170808184141_V.jpg"/>
<h4 id="name">Product Name: 노맛버거</h4>
------------------------------------
<h5 id="mainMenu">
  단품 8000
  <label id="mainMenuQuantity">
    <button> - </button> 1 <button> + </button>
  </label>
</h5>

<div id="selectedOption">
  추가옵션
  <ul>
    <li>양상추 * 1 = 300</li>
    <li>치즈 * 1 = 300</li>
  </ul>
</div>

<label id="totalPrice"> 총 8600원 </label>
<div>
  <button (click)="openOptionSelectPage()">추가옵션 선택</button>
  <button>장바구니 담기</button>
  <button>바로 구매</button>
</div>

<div *ngIf="expandOption">
  <app-select-option></app-select-option>
</div>

