<div *ngIf="purchasable">
  <div class="product-info">
    <img class="thumbnail" src="{{purchasable.thumbnail}}"/>
    <h3 id="name">{{purchasable.name}} </h3>
  </div>
  <div id="mainMenu">
    <span>단품 {{purchasable.base_price}}원</span>
    <label id="mainMenuQuantity">
      <button mat-button (click)="purchasable.decrement()">-</button>
      {{purchasable.quantity}}개
      <button mat-button (click)="purchasable.increment()">+</button>
    </label>
  </div>
  <mat-expansion-panel *ngIf="purchasable.hasOptions()"
    [expanded]="expandOption"
    [hideToggle]="true"
    (opened)="changeOptionPageStatus(true)"
    (closed)="changeOptionPageStatus(false)">
    <mat-expansion-panel-header>
      <mat-panel-title class="option-panel-title">
        추가 옵션 선택
        <mat-icon>add_circle_outline</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-select-option [options]="purchasable.options"></app-select-option>
    <mat-action-row class="option-confirm">
      <button mat-icon-button
              class="confirm-option-button"
              (click)="openOptionSelectPage()">
        <mat-icon>checked_circle_outline</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <div id="totalPrice">
    <label> 총 {{purchasable.total_price}}원 </label>
  </div>
  <div class="button-group">
    <button class="navigate-button"
      mat-stroked-button (click)="cancel()">
      <mat-icon>arrow_back</mat-icon>
      뒤로 가기</button>
    <button class="navigate-button"
      mat-raised-button (click)="addToCart()" color="primary">
      <mat-icon>add_shopping_cart</mat-icon>
      담기</button>
    <button class="navigate-button"
      mat-stroked-button (click)="buyNow()">
      <mat-icon>credit_card</mat-icon>
      바로 구매</button>
  </div>
</div>
