mat-toolbar-row {
  height: 50px;
  margin: 0;
  padding: 0;
}

.myOrderIcon {
  margin: 0 auto;
  position: absolute;
  left: 15%;
}

.deleteCartIcon {
  margin: 0 auto;
  position: absolute;
  left: 45%;
}

.myCartIcon {
  margin: 0 auto;
  position: absolute;
  left: 75%;
}
